body {
    /*style.css code*/
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #1e2ad3;
    padding: 20px;
    color: rgb(10, 106, 58);
}

button {
    background-color: #e652ab;
    border: none;
    color: rgb(218, 237, 12);
    padding: 15px 32px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #e4864c;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #9b2a5b;
}